body{
margin:0;
padding:0;
font-family:sans-serif;
/*background:url(back.jpg) ;*/
background-size:cover;

}
.titlel{
	text-align:center;
	padding:50px 0 20px;
	
}
.titlel h1{
	margin:0;
	padding:0;
	color:#262626;
	/*text-transform:uppercase;*/
	font-size:30px;
	
}
.containerr{
	width:80%;
	height:700px;
	background:#fff;
	margin:0 auto;
	border:2px solid #fff;
	box-shadow:0 10px 30px rgba(0,0,0,0.2);
}
.containerr  .left{
	float:left;
	width:50%;
	height:700px;
	background:url(back1.jpg);
	background-size:cover;
	box-sizing:border-box;
	
}
.containerr   .right{
	float:left;
	width:50%;
	height:700px;
	background-size:cover;
	box-sizing:border-box;
	
}
.formBoxx{
	width:100%;
	padding:80px 40px;
	box-sizing:border-box;
	height:700px;
	background:#fff;
}
.formBoxx p{
	margin:0;
	padding:0;
	font-weight:bold;
	color:#a6af13;
}
.formBoxx  input{
	width:100%;
	margin-bottom:20px;
	}
.formBoxx  input[type="text"],
.formBoxx  input[type="number"],
.formBoxx  input[type="Password"]{
	border:none;
	border-bottom: 2px solid #a6af13;
	outline:none;
	height:30px;
}
.formBoxx  input[type="text"],
.formBoxx  input[type="number"],
.formBoxx  input[type="Password"]/*:focus*/{
	border-bottom: 2px solid  black/*#262626*/;
}
.formBoxx  input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	color:#fff;
	background:#262626;
	cursor:pointer;
}
.formBoxx  input[type="submit"]:hover{
	background:#a6af13;
	
}
.formBoxx a{
	color:#262626;
	font-size:12px;
	font-weight:bold;
}




